<div class="container-fluid">
    <div class="row text-center">
        <div class="col-md-12">
            <h2 class="h2">CONTADOR</h2>
            <h3 class="h3"> {{ contador }} </h3>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-12">
            <div class="btn-group">
                <button class="btn btn-secondary" (click)="this.decrementar()">Decrementar</button>
                <button class="btn btn-primary" (click)="this.incrementar()">Incrementar</button>
            </div>
        </div>
    </div>

    <hr>

    <div class="row text-center">
        <div class="col-md-12">
            <app-hijo [contador]="contador" (nuevoContador)="nuevoContador($event)"></app-hijo>
        </div>
    </div>

</div>